.apartment__header
    display: flex
    @media screen and (min-width: 768px)
        padding-inline: 80px
    @media screen and (max-width: 768px)
        display: block
        margin: 1rem 1rem 1rem
    .apartment__title
        flex-grow: 1
    .apartment__owner
        display: block
        justify-content: space-between
        @media screen and (max-width: 768px)
            display: flex
    .apartment__owner__details
        display: flex
        gap: 0.5rem
        order: 1
    .apartment__owner__stars

        display: flex
        gap: 0.2 rem
        align-items: center
        *
            font-size: 2rem
            .on
                color: #FF6060
            .off
                color: grey
    .apartment__owner__badge img
        height: 50px
        width: 50px
        border-radius: 50%
        background-color: grey
    h3
        font-weight: 400
        display: flex
        flex-direction: column
        align-items: end
        margin-top: 0
        margin-bottom: 0
