.navbar
    display: flex
    gap: 2rem
    align-items: center
    padding: 0 2rem
    margin: 2rem
    color: black
    font-weight: 500
    .navbar__logo
        img
            max-height: 48px
            max-width: 100%
            padding: 10px
    > *:first-child
        margin-right: auto
    a
        white-space: nowrap
        text-decoration: none
        color: black
        &:hover
            text-decoration: underline
        &.active
            text-decoration: underline

@media screen and (max-width: 768px)
    .navbar a
        text-transform: uppercase
